body {
  background : #313131;
}

div {
  font-family: 'Kanit', Courier, monospace;
}

select{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
      padding : 4px 20px
}

.bg-default {
  background-color : #FF5C00;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: rgb(34, 34, 34);
}

.color-primary {
  color: #FF5C00;
}

.text-header {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 16px;
}

.withdraw-body {
  color: #FFFFFF;
  text-align: left;
}

.withdraw-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 24rem;
  height: 8.5rem;
  display: flex;
  justify-content: center;
}

.withdraw-card-detail {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.withdraw-label {
  padding-top: 6px;
  font-size: 20px;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.withdraw-label-big {
  padding-top: 24px;
  font-size: 26px;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.withdraw-card-right {
  text-align: right;
}

.withdraw-card-padding-top {
  padding-bottom: 30px;
}

.withdraw-card-padding-bottom-first {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
}

.withdraw-card-padding-bottom {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 16px;
}

.withdraw-text-very-top {
  padding-top: 10px;
}

.withdraw-text-top {
  padding-top: 15px;
}

.withdraw-text-bottom {
  padding-top: 4px;
}

.Navbar-title {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: 800;
}

.Navbar-title:hover, .Navbar-title:focus {
  color: #ffffff;
}

.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 18px;
  background-color: #ffffff;
}

.form-content {
  padding-left: 2%;
  padding-right: 2%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.btn-primary {
  background-color: #FF5C00;
  border: 0;
  box-shadow:0px 0px 0px 1px #FF5C00;
}
.btn-primary:focus {
  outline: none !important;
  box-shadow: none;
  color: #ffffff;
  background-color: #FF5C00;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    outline: none !important;
    box-shadow: none;
    color: #ffffff;
    background-color: #C22603;
}

.btn-danger {
  background-color: #ffffff;
  color: #C22603;
  border: 0;
  box-shadow:0px 0px 0px 1px #C22603;
}
.btn-danger:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #ffffff;
  background-color: #FF0000;
  border-color: #FF0000;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    outline: none !important;
    box-shadow: none !important;
    color: #FFFFFF;
    background-color: #FF0000;
    border-color: #FF0000;
}


.Logo {
  height: 200px;
  
}

.Form-input {
  margin-top: 1em;
  border-radius: 15px;
}

.Btn-submit {
  border-radius: 15px;
  margin-top: 1em;
  margin-bottom: 1em; 
  margin-left: 25%;
  margin-right: 25%;
  height: 50px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #FF5C00;
}

.App-link:hover, .App-link:focus {
  color: #FF5C00;
}

.underline {
  text-decoration: underline;
}

Table {
  background-color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  }

.search-bar {
  background-color: #ffffff;
  margin-bottom: 14px;
  margin-top: 14px;
  width: 100%;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  height: 2.6rem;
}

.search-form {
  width: 100%;
}

.icon-small {
  margin: 4px 4px 4px 4px;
}

.icon-disabled {
  color: #aaaaaa;
}